html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
  body
    header
      article
        #notifications
        noscript Whoops, looks like you don't have Javascript enabled. The site won't really work without it, so enable that if you can
        #help
          h3 What is this?
          p This map shows where all of the buses in the AATA are currently located. This is a small side project of mine to try to come up with a better way of figuring out when I need to catch the bus.
          p A number of improvements need to be made, so as it stands it's mostly a playground where I can mess around with mapping.
          h3 BUT, currently, the AATA took down the part of their site that this is based off of, so this won't work for right now, sadly.
    #map
      .rocket

  script(src='/js/underscore-min.js')
  script(src='/js/backbone-min.js')
  script(src='/js/transportation.js')
  script(src='/js/overlay.js')
  script(src='/js/leaflet-routing-machine.min.js')

