html
  head
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src='https://cdn.firebase.com/js/client/1.0.21/firebase.js')
  body
    header#notifications
    #map
  script(src='/js/transportation.js')

