html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/css/stylesheet.css')
  body
    header.config
      article
        .notifications
    main
        .info
          .adherence
          .timestamp
          .direction
        .traffic-light
          .circle.ready
          .circle.set
          .circle.go
    footer.controls
      a(href='', class='reset') Reset
        noscript Whoops, looks like you don't have Javascript enabled. The site won't really work without it, so enable that if you can

  script(src='/js/underscore-min.js')
  script(src='/js/backbone-min.js')
  script(src='/js/moment.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/trafficLight.js')
  script.
    var dash = new BusAlertMgr();
